 .about{
    padding: 0.5rem 3.5rem;
    display: flex;
    height: 90vh;
    margin-bottom: 13rem;
    margin-top: 9rem;
 }
 .s-button {
    width: 8rem;
    height: 2rem;
    margin-top: 1rem;
    border-radius: 34px;
    border: none;
    color: white;
    font-size: 16px;
    padding: 11px 26px 11px 26px;
    background: linear-gradient(180deg, #fdc50f 26.71%, #fb982f 99.36%);
    box-shadow: 0px 20px 24px 3px rgba(251, 161, 40, 0.42);
}

.s-button:hover{
    background: white;
    cursor: pointer;
    color: #FCA61F;
    border: 1px solid #FCA61F;
}


.s-blur{
    position: absolute;
    border-radius: 50%;
    width: 22rem;
    height: 14rem;
    background: #edd0ff;
    filter: blur(72px);
    z-index:-9;
    left: 56%;
}


.awesome{
    display: flex;
    flex: 1;
    flex-direction: column;
    position: relative;
}

.awesome > :nth-child(1){
    color:#242D49;
    font-size: 2.5rem;
    font-weight: bold;
}

.awesome > :nth-child(2){
    color: #fb982f;
    font-size: 2.5rem;
    font-weight: bold;
}

.awesome > :nth-child(3){
    color: #788097;
    font-size: 14px;
    margin-top: 1rem;
}

.cards{
    flex: 1;
}


@media screen and (max-width:480px){
    .about{
        flex-direction: column;
        gap: 17rem;
        height: 66rem;
    }
   
}