.Intro{
    display: flex;
    height: 77vh;
    margin-top: 6rem;
    padding: 0.5rem 3.5rem; 
}

.i-left{
    display: flex;
    flex-direction: column;
    position: relative;
    flex: 1;
    gap: 2rem;
}

.i-name{
    display: flex;
    flex-direction: column;
}

.i-name>:nth-child(1)
{
    color: #242D49;
    font-weight: bold;
    font-size: 3rem;
}

.i-name>:nth-child(2)
{
    color: #FCA61F;
    font-weight: bold;
    font-size: 3rem;
}

.i-name>:nth-child(3)
{
    font-weight: 100;
    font-size: 14px;
    color: #788097;
    margin-top: 10px;
}

.i-button{
    border-radius: 34px;
    width: 6rem;
    height: 2rem;
    border: none;
    color: white;
    font-size: 16px;
    padding: 11px 26px 11px 26px;
    background: linear-gradient(180deg, #fdc50f 26.71%, #fb982f 99.36%);
    box-shadow: 0px 20px 24px 3px rgba(251, 161, 40, 0.42);
}

.i-button:hover{
    background: white;
    cursor: pointer;
    color: #FCA61F;
    border: 1px solid #FCA61F;
}



.i-icons{
    margin-top: 2rem;
    display: flex;
    gap: 0;
}

.i-icons>*{
    transform: scale(0.5);
}

.i-icons>*:hover{
    cursor: pointer;
}


.i-right{
    flex: 1;
    position: relative;
}

.i-right>*{
    position: absolute;
    z-index: 1;
}

.i-right>:nth-child(1){
    transform: scale(0.70);
    left: -15%;
    top: -9%;
}

.i-right>:nth-child(2){
    transform: scale(0.68);
    left: -3rem;
    top: -4.6rem;
}

.i-right>:nth-child(3){
    height: 50%;
    width: 50%;
    transform: scale(1.4);
    left: 22%;
    top: 30%;
}

@media screen and (max-width:480px) {
    .Intro{
        display: flex;
        flex-direction: column;
    }
    .i-right{
        display: none;
    }
}