
.floatingdiv{
    justify-content: space-around;
    display: flex;
    background: white;
    box-shadow: 0px 19px 60px rgb(0 0 0 / 8%);
    border-radius: 17px;
    align-items: center;
    padding:0px 28px 0px 28px;
    height: 4.5rem;
}

.floatingdiv>img{
    transform: scale(0.4);
}

.floatingdiv>span{
    color: black;
    font-size: sans-sarif;
    font-size: 16px;
}

.blur{
    position: absolute;
    border-radius: 50%;
    width: 22rem;
    height: 14rem;
    background: #edd0ff;
    filter: blur(72px);
    z-index:-9;
    top: -18%;
    left: 56%;
}

